*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    
    
}


 


header{
padding-top: 20px;

}

.nav-header{
max-width: 1600px;
margin: 0 auto;
display: flex;
justify-content: space-between;
margin: 0 100px;
align-items: center;

}
nav .menu{
    display: flex;
    gap: 20px;
    text-decoration: none;
    align-items: center;
 

}
.menu a{
    text-decoration: none;
   color: black;
    font-weight: 500;}


.btn{
    background-color: rgba(58, 182, 110, 0.692);
border: none;
padding: 20px 30px;
border-radius: 5px;
font-size: 15px;
cursor: pointer;
}

.button-container .btn-nocolor{
border: 2px solid gray;
padding: 20px 30px;
border-radius: 5px;
font-size: 15px;
background-color:transparent;
margin-bottom: 90px;
cursor: pointer;

}

#banner{
    /* border: 1px solid red; */
    background-image: url(images/hero-bg.png);
    background-size: cover;
    background-position: center;
    position: relative;
    margin: 35px auto;
    text-align: center;
    
}
 #banner .banner-section h4 .tip-btn {
    font-size: 20px;
    margin-bottom: 15px;
    color: red;
    padding: 20px 30px;
margin-top: 50px;
border:none;
cursor: pointer;
border-radius: 5px;
max-width: 1360px;
 }

#banner .banner-section h1 {
    font-size: 66px;
    margin:3px 5px;
    font-weight: bolder;
    color: green;
}

#banner .banner-section p{
    font-size: 18px;
    line-height: 20px;
    color: aliceblue;
margin-bottom: 25px;
}

#info{
 /* display: flex; */
   
    text-align: center;
    margin: 80px auto;
    max-width: 1360px;
}

/* ONLY the cards are flex  */

.info-grid{
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

/* card size */

.info-note{
    width: 25%;
    padding: 25px;
    background: #f5f5f5;
    border-radius: 10px;
}

#info .info-note {
     width: 22%;
    background: #f5f5f5;
    padding: 25px;
    border-radius: 10px;
}

.info-heading{
    margin-bottom: 60px;
}
