* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* common */
.container {
    max-width: 1250px;
    margin: 0 auto;
}

header {
    padding-top: 20px;
}

.nav-header {
    max-width: 1600px;
    margin: 0 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .menu {
    display: flex;
    gap: 20px;
    align-items: center;
}

.menu a {
    text-decoration: none;
    color: black;
    font-weight: 500;
}

.btn {
    background-color: rgba(58, 182, 110, 0.692);
    border: none;
    padding: 20px 30px;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
}

.btn:hover {
    background-color: rgba(27, 58, 199, 0.692);
    color: white;
}

/* banner */
.banner-section .tip-btn {
    font-size: 20px;
    margin: 50px 0 15px 0;
    color: rgb(85, 212, 73);
    padding: 20px 30px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    max-width: 1360px;
}

#banner .banner-section h1 {
    font-size: 66px;
    margin: 3px 5px;
    font-weight: bolder;
    color: green;
}

#banner .banner-section p {
    font-size: 18px;
    line-height: 20px;
    color: aliceblue;
    margin-bottom: 25px;
}

#banner {
    background-image: url(images/hero-bg.png);
    background-size: cover;
    background-position: center;
    text-align: center;
    margin: 35px auto;
}

.button-container .btn-no-color {
    border: 2px solid gray;
    padding: 20px 30px;
    border-radius: 5px;
    font-size: 15px;
    color: white;
    background-color: transparent;
    margin-bottom: 90px;
    cursor: pointer;
}

/* info */
#info {
    text-align: center;
    margin: 80px auto;
    max-width: 1360px;
}

.info-grid {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.info-note {
    width: 22%;
    background: #f5f5f5;
    padding: 25px;
    border-radius: 10px;
    border: 1px solid red;
    max-width: 260px;
    text-align: center;
}

.info-note img {
    max-width: 40px;
    margin-bottom: 20px;
}

.info-note h3 {
    font-size: 20px;
    color: #181818;
    margin-bottom: 20px;
}

.info-note p {
    font-size: 18px;
    line-height: 20px;
    color: #757575;
    margin-bottom: 25px;
}

.info-heading {
    margin-bottom: 60px;
}

/* tab */
#tab {
    display: flex;
    margin: 120px 120px;
    padding-top: 40px;
}

.tab-container {
    margin-top: 130px;
}

.tab-container .tab-h {
    color: green;
}

.tab-container .tab-h1 {
    margin: 20px auto;
    font-size: 40px;
    font-weight: bolder;
}

.tab-container .tab-p {
    margin: 20px auto;
    color: #757575;
}

.tab-container .tab-icon {
    margin-top: 20px;
}

/* last section */
.last {
    text-align: center;
    margin: 120px 120px;
    background-color: #75757528;
    padding-top: 20px;
}

.last-step h1 {
    margin: 20px auto;
    font-size: 40px;
    font-weight: bolder;
}

.last .subtitle {
    padding-top: 15px;
    font-size: 26px;
    font-weight: 400;
}

.last .btn-1 {
    background-color: #30B868;
    color: white;
    border: none;
    padding: 20px;
    border-radius: 8px;
    font-size: 15px;
    font-weight: 400;
    cursor: pointer;
    margin: 20px 0;
}

.btn-1:hover {
    background-color: #3039b8;
    color: white;
}

.last .last-subtitle {
    margin: 15px 20px;
    margin-bottom: 30px;
    font-size: 15px;
    padding: 40px 0;
}

/* footer */
footer {
    background-color: #001931;
    padding: 50px 20px;
}

footer .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.footer-container .link {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.footer-container .link h3 {

    color: aliceblue;
    margin-right: 20px;
   
}

.footer-container .link img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #f5f5f5; 
    padding:10px 12px;
}

.foot-end {
    text-align: center;
    margin-top: 20px;
    color: aliceblue;
}

.foot-end hr {
    border: 0.5px solid #ffffff44;
    margin-bottom: 10px;
}
